
table,tr,td{
    border-collapse:collapse;
    border: 1px solid black;
    text-align:left top;
    padding:5px
    
}
th{
    text-align: left;
    background-color:lightgreen;
    font-size: 30px;
}
h1{
    color:brown

}

h2{
    background-color:lightgreen;
    border-radius: 5px;
}

form{
    text-transform: capitalize;
    margin:0px;
    padding:5px;
    box-sizing: border-box;

}

input[type="submit"]{
    border-color: bisque;
    margin:5px;
    padding:10px;
    width:200px;
}
